In [1]:
import pandas as pd

In [2]:
pd.read_excel("AAPL.xlsx", sheet_name="sheet1")

          Date         y          x1          x2          x3
0   2020-04-15  0.007914   71.107498   71.762497   70.599998
1   2020-04-16 -0.013662   71.672501   71.107498   71.845001
2   2020-04-17 -0.020975   70.699997   71.672501   71.172501
3   2020-04-20 -0.031398   69.232498   70.699997   69.487503
4   2020-04-21  0.028397   67.092499   69.232498   69.070000
..         ...       ...         ...         ...         ...
245 2021-04-06  0.013302  126.209999  125.900002  126.500000
246 2021-04-07  0.019051  127.900002  126.209999  125.830002
247 2021-04-08  0.020049  130.360001  127.900002  128.949997
248 2021-04-09 -0.013321  133.000000  130.360001  129.800003
249 2021-04-12  0.024016  131.240005  133.000000  132.520004

[250 rows x 5 columns]

In [3]:
dataset = pd.read_excel("AAPL.xlsx", sheet_name="sheet1")

In [4]:
dataset[:200]

          Date         y          x1          x2          x3
0   2020-04-15  0.007914   71.107498   71.762497   70.599998
1   2020-04-16 -0.013662   71.672501   71.107498   71.845001
2   2020-04-17 -0.020975   70.699997   71.672501   71.172501
3   2020-04-20 -0.031398   69.232498   70.699997   69.487503
4   2020-04-21  0.028397   67.092499   69.232498   69.070000
..         ...       ...         ...         ...         ...
195 2021-01-22  0.027308  139.070007  136.869995  136.279999
196 2021-01-25  0.001678  142.919998  139.070007  143.070007
197 2021-01-26 -0.007713  143.160004  142.919998  143.600006
198 2021-01-27 -0.035612  142.059998  143.160004  143.429993
199 2021-01-28 -0.038139  137.089996  142.059998  139.520004

[200 rows x 5 columns]

In [5]:
dataset[200:]

          Date         y          x1          x2          x3
200 2021-01-29  0.016385  131.960007  137.089996  135.830002
201 2021-02-01  0.006317  134.139999  131.960007  133.750000
202 2021-02-02 -0.007809  134.990005  134.139999  135.729996
203 2021-02-03  0.025432  133.940002  134.990005  135.759995
204 2021-02-04 -0.004596  137.389999  133.940002  136.300003
205 2021-02-05  0.001096  136.759995  137.389999  137.350006
206 2021-02-08 -0.006595  136.910004  136.759995  136.029999
207 2021-02-09 -0.004569  136.009995  136.910004  136.619995
208 2021-02-10 -0.001922  135.389999  136.009995  136.479996
209 2021-02-11  0.001774  135.130005  135.389999  135.899994
210 2021-02-12 -0.016235  135.369995  135.130005  134.350006
211 2021-02-16 -0.017802  133.190002  135.369995  135.490005
212 2021-02-17 -0.008674  130.839996  133.190002  131.250000
213 2021-02-18  0.001233  129.710007  130.839996  129.199997
214 2021-02-19 -0.030252  129.869995  129.710007  130.240005
215 2021-02-22 -0.001112  126.000000  129.869995  128.009995
216 2021-02-23 -0.004060  125.860001  126.000000  123.760002
217 2021-02-24 -0.035402  125.349998  125.860001  124.940002
218 2021-02-25  0.002229  120.989998  125.349998  124.680000
219 2021-02-26  0.052451  121.260002  120.989998  122.589996
220 2021-03-01 -0.021115  127.790001  121.260002  123.750000
221 2021-03-02 -0.024761  125.120003  127.790001  128.410004
222 2021-03-03 -0.015938  122.059998  125.120003  124.809998
223 2021-03-04  0.010681  120.129997  122.059998  121.750000
224 2021-03-05 -0.042567  121.419998  120.129997  120.980003
225 2021-03-08  0.039845  116.360001  121.419998  120.930000
226 2021-03-09 -0.009209  121.089996  116.360001  119.029999
227 2021-03-10  0.016368  119.980003  121.089996  121.690002
228 2021-03-11 -0.007655  121.959999  119.980003  122.540001
229 2021-03-12  0.024162  121.029999  121.959999  120.400002
230 2021-03-15  0.012662  123.989998  121.029999  121.410004
231 2021-03-16 -0.006471  125.570000  123.989998  125.699997
232 2021-03-17 -0.034493  124.760002  125.570000  124.050003
233 2021-03-18 -0.004490  120.529999  124.760002  122.879997
234 2021-03-19  0.027942  119.989998  120.529999  119.900002
235 2021-03-22 -0.006913  123.389999  119.989998  120.330002
236 2021-03-23 -0.020196  122.540001  123.389999  123.330002
237 2021-03-24  0.004155  120.089996  122.540001  122.820000
238 2021-03-25  0.005128  120.589996  120.089996  119.540001
239 2021-03-26  0.001484  121.209999  120.589996  120.349998
240 2021-03-29 -0.012350  121.389999  121.209999  121.650002
241 2021-03-30  0.018592  119.900002  121.389999  120.110001
242 2021-03-31  0.006935  122.150002  119.900002  121.650002
243 2021-04-01  0.023304  123.000000  122.150002  123.660004
244 2021-04-05  0.002459  125.900002  123.000000  123.870003
245 2021-04-06  0.013302  126.209999  125.900002  126.500000
246 2021-04-07  0.019051  127.900002  126.209999  125.830002
247 2021-04-08  0.020049  130.360001  127.900002  128.949997
248 2021-04-09 -0.013321  133.000000  130.360001  129.800003
249 2021-04-12  0.024016  131.240005  133.000000  132.520004

In [6]:
train_set = dataset[:200]
test_set = dataset[200:]

In [7]:
train_y = train_set["y"]
train_y

0      0.007914
1     -0.013662
2     -0.020975
3     -0.031398
4      0.028397
         ...
195    0.027308
196    0.001678
197   -0.007713
198   -0.035612
199   -0.038139
Name: y, Length: 200, dtype: float64

In [8]:
train_x = train_set[["x1", "x2", "x3"]]
train_x

             x1          x2          x3
0     71.107498   71.762497   70.599998
1     71.672501   71.107498   71.845001
2     70.699997   71.672501   71.172501
3     69.232498   70.699997   69.487503
4     67.092499   69.232498   69.070000
..          ...         ...         ...
195  139.070007  136.869995  136.279999
196  142.919998  139.070007  143.070007
197  143.160004  142.919998  143.600006
198  142.059998  143.160004  143.429993
199  137.089996  142.059998  139.520004

[200 rows x 3 columns]

In [9]:
test_y = test_set["y"]
test_y

200    0.016385
201    0.006317
202   -0.007809
203    0.025432
204   -0.004596
205    0.001096
206   -0.006595
207   -0.004569
208   -0.001922
209    0.001774
210   -0.016235
211   -0.017802
212   -0.008674
213    0.001233
214   -0.030252
215   -0.001112
216   -0.004060
217   -0.035402
218    0.002229
219    0.052451
220   -0.021115
221   -0.024761
222   -0.015938
223    0.010681
224   -0.042567
225    0.039845
226   -0.009209
227    0.016368
228   -0.007655
229    0.024162
230    0.012662
231   -0.006471
232   -0.034493
233   -0.004490
234    0.027942
235   -0.006913
236   -0.020196
237    0.004155
238    0.005128
239    0.001484
240   -0.012350
241    0.018592
242    0.006935
243    0.023304
244    0.002459
245    0.013302
246    0.019051
247    0.020049
248   -0.013321
249    0.024016
Name: y, dtype: float64

In [10]:
test_x = test_set[["x1", "x2", "x3"]]
test_x

             x1          x2          x3
200  131.960007  137.089996  135.830002
201  134.139999  131.960007  133.750000
202  134.990005  134.139999  135.729996
203  133.940002  134.990005  135.759995
204  137.389999  133.940002  136.300003
205  136.759995  137.389999  137.350006
206  136.910004  136.759995  136.029999
207  136.009995  136.910004  136.619995
208  135.389999  136.009995  136.479996
209  135.130005  135.389999  135.899994
210  135.369995  135.130005  134.350006
211  133.190002  135.369995  135.490005
212  130.839996  133.190002  131.250000
213  129.710007  130.839996  129.199997
214  129.869995  129.710007  130.240005
215  126.000000  129.869995  128.009995
216  125.860001  126.000000  123.760002
217  125.349998  125.860001  124.940002
218  120.989998  125.349998  124.680000
219  121.260002  120.989998  122.589996
220  127.790001  121.260002  123.750000
221  125.120003  127.790001  128.410004
222  122.059998  125.120003  124.809998
223  120.129997  122.059998  121.750000
224  121.419998  120.129997  120.980003
225  116.360001  121.419998  120.930000
226  121.089996  116.360001  119.029999
227  119.980003  121.089996  121.690002
228  121.959999  119.980003  122.540001
229  121.029999  121.959999  120.400002
230  123.989998  121.029999  121.410004
231  125.570000  123.989998  125.699997
232  124.760002  125.570000  124.050003
233  120.529999  124.760002  122.879997
234  119.989998  120.529999  119.900002
235  123.389999  119.989998  120.330002
236  122.540001  123.389999  123.330002
237  120.089996  122.540001  122.820000
238  120.589996  120.089996  119.540001
239  121.209999  120.589996  120.349998
240  121.389999  121.209999  121.650002
241  119.900002  121.389999  120.110001
242  122.150002  119.900002  121.650002
243  123.000000  122.150002  123.660004
244  125.900002  123.000000  123.870003
245  126.209999  125.900002  126.500000
246  127.900002  126.209999  125.830002
247  130.360001  127.900002  128.949997
248  133.000000  130.360001  129.800003
249  131.240005  133.000000  132.520004

In [11]:
from sklearn import linear_model
reg = linear_model.LinearRegression()

In [12]:
reg.fit(train_x, train_y)

reg.coef_

array([ 0.0008604 ,  0.0027497 , -0.00372383])

In [24]:
# reg.predict(train_x)

In [19]:
y_train_hat = reg.predict(train_x)

In [15]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_squared_error(train_y, y_train_hat)

0.0005010615563127622

In [21]:
y_test_hat = reg.predict(test_x)

In [22]:
mean_squared_error(test_y, y_test_hat)

0.0003843129273511546

In [27]:
from sklearn.tree import DecisionTreeRegressor

In [30]:
reg_decision = DecisionTreeRegressor()

In [33]:
reg_decision.fit(train_x, train_y)

DecisionTreeRegressor()

In [34]:
y_train_hat_decision = reg_decision.predict(train_x)

In [35]:
mean_squared_error(train_y, y_train_hat_decision)

0.0

In [36]:
y_test_hat_decision = reg_decision.predict(test_x)

In [38]:
mean_squared_error(test_y, y_test_hat_decision)

0.0010365059508922595